:root {
  --text-color: white;
  --link-color: #ccc;
  --link-hover: white;
  --button-bg: rgba(255, 255, 255, 0.021);
  --button-hover-bg: rgba(255, 255, 255, 0.3);
  --button-shadow: rgba(255, 255, 255, 0.3);
  --button-hover-shadow: rgba(255, 255, 255, 0.5);
  --content-bar-bg: rgba(183, 183, 183, 0.1);
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: var(--text-color);
  font-family: sans-serif;
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.ui-link,
.ui {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.ui-link{
 text-decoration: underline;
}

.ui-link:hover {
  background: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

/* Content layer */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  z-index: 10;
}

h1 {
  font-size: 2rem;
  pointer-events: none;
}

/* Content Bar */
#content-bar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: var(--content-bar-bg);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* last updated */
#last-updated {
  position: fixed;
  margin: 10px;
}

#ui-panel {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: var(--content-bar-bg);
  backdrop-filter: blur(2px);
  z-index: 1; /* below content but above starfield */
}